<h1 id="about">O nas</h1>
<div class="row">
  <div class="col-md-7">
    <p>Posiadamy liczne certyfikaty a nasi monterzy i sprzedawcy systematycznie uczestniczą w szkoleniach dotyczących aspektów specjalistycznego montażu i fachowego doradztwa w dziedzinie car-audio.</p>
    <img src="assets/images/konsola.jpg" alt="konsola" id="konsola" class="img-responsive">
  </div>
  <div class="col-md-5">
    <img src="assets/images/sklep.jpg" alt="sklep" id="sklep" class="img-responsive">        
    <p>Posiadamy konsolę do ekspozycji sprzętu, dzięki czemu każdy z umieszczonych w niej odtwarzaczy można odsłuchać z dowolnym zestawem głośnikowym. Wybór odpowiadającego klientowi brzmienia jest łatwy, prosty i przyjemny :-)</p>
  </div>
</div>