<div class="margin">
	<h1>CB-Radio</h1>
	<p>Prowadzimy sprzedaż i montaż sprzętu CB-radio wszystkich dostępnych na rynku producentów. Mamy w ofercie wszelkie akcesoria potrzebne do montażu i strojenia anten. Świadczymy usługi serwisowe - naprawy sprzętu.</p>
	<p>Najbardziej popularne marki CB-radia to: President, Stabo, Uniden, Midland (Alan), Maxon, Cobra, Legend, Intek, Lafayette, TTI, Sunker, Yosan
	Większość anten produkują firmy: President, Midland, Lemm, Sirio, Delta, Sirtel</p>
	<p>Przykłady montażu sprzętu CB-radio w naszej firmie:</p>
</div>