<div class="name">
  <h1 class="title">AUTORADIO</h1>
  <h2 class="pull-right">.POZNAN.PL</h2>
  <h3 class="pull-right">
    UL. WARSZAWSKA 33B<br>
    TEL. 61 879 28 68<br>
    INFO@AUTORADIO.POZNAN.PL
  </h3>
</div>
<div id="info">
  <p>
    Zajmujemy się kompleksowym nagłaśnianiem samochodów. Prowadzimy sprzedaż, doradztwo oraz fachowy montaż sprzętu car-audio, video i cb-radio. Oprócz pełnej gamy sprzętu dostępnego u nas w tzw. cenach rynkowych, klienci mogą spotkać się w naszym sklepie z częstymi obniżkami cen towarów oraz promocjami, które są wyrazem dostosowania się firmy do zmian na rynku i potrzeb naszych klientów.
  </p>
</div>