<div class="full-width-image no-margin">
	<img ng-if="img" ng-src="{{ img }}" class="img-responsive center-block">
	<img ng-if="!img && json" ng-repeat="image in imagesCtrl.images" ng-show="imagesCtrl.isSet($index)" ng-src="http://autoradio.poznan.pl/nawigacja/nawigacja/{{ image.filename }}" class="img-responsive center-block">
</div>
<div ng-if="!img && json" class="row full-width-thumbnails">
	<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="image in imagesCtrl.images">
		<a class="thumbnail">
			<img ng-click="imagesCtrl.setImage($index)" ng-src="http://autoradio.poznan.pl/nawigacja/nawigacja/{{image.filename}}"/>
		</a>
	</div>
</div>
