<div class="margin">
	<h1>Nawigacja</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies augue at felis volutpat lobortis eu quis nunc. Aliquam eu libero feugiat arcu varius rutrum id sed mauris. Phasellus sollicitudin facilisis orci. Praesent eu lobortis libero. Maecenas sagittis metus ligula. Praesent pharetra ac velit eu porttitor. Duis rutrum eros fermentum ipsum aliquam, nec condimentum tellus blandit. Aenean a malesuada tellus. Nunc ultricies ut nisi eu placerat. Quisque maximus arcu eu ipsum tempor sagittis. In tempus fermentum est, sed pretium turpis dapibus eu.</p>
</div>
<div class="full-width-image no-margin">
	<img src="http://autoradio.poznan.pl/assets/images/nawigacja/nav01.jpg" class="img-responsive center-block">
</div>
<div class="margin">
	<p>Praesent varius risus in ligula fermentum feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac posuere justo. Nulla facilisi. Maecenas quis congue orci. Cras mattis dolor et iaculis facilisis. Nunc sed turpis in enim eleifend blandit id sit amet magna. Vivamus et nisi lacinia, vulputate ipsum a, malesuada ex. Aenean euismod vestibulum lorem sed congue. Aliquam molestie pulvinar erat non vehicula.</p>
</div>
<div class="full-width-image no-margin">
	<img src="http://autoradio.poznan.pl/assets/images/nawigacja/nav03.jpg" class="img-responsive center-block">
</div>
<div class="margin">
	<p>Mauris dui tellus, tincidunt vitae fermentum eget, volutpat ut ante. Vestibulum fermentum nec mauris ut dictum. Duis efficitur, nisi dignissim sodales ullamcorper, velit nibh lobortis neque, venenatis egestas diam est non justo. Nulla facilisi. Maecenas tristique vestibulum vulputate. Curabitur porta sodales tortor, a feugiat felis malesuada vel. Curabitur eu augue a libero dapibus interdum eget molestie metus. In hac habitasse platea dictumst. Fusce massa dolor, ultrices ac sapien vitae, accumsan dignissim nisi. Suspendisse sit amet pulvinar lacus, at congue magna. Aliquam eu euismod dolor. Nunc at malesuada erat. Aenean venenatis aliquet tincidunt. Donec commodo aliquet magna eu fermentum. Nullam suscipit tellus quis libero bibendum, nec fringilla odio egestas</p>
</div>
<div class="full-width-image no-margin">
	<img src="http://autoradio.poznan.pl/assets/images/nawigacja/nav02.jpg" class="img-responsive center-block">
</div>

<!--
<div class="row">
	<div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="image in mainCtrl.images">
		<a class="thumbnail">
			<img ng-src="http://autoradio.poznan.pl/nawigacja/nawigacja/{{image.filename}}"/>
		</a>
	</div>
</div>
-->